body {
    margin: 0 auto;
    font-family: Franklin Gothic, Verdana, Tahoma, sans-serif;
}

.sec1 {
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("../pictures/wall.png");
  text-align: center;
}

.nav-item{
font-family: Franklin Gothic, Verdana, Tahoma, sans-serif;
font-size: 1.0em;
}

.header{
font-family: Franklin Gothic, Verdana, Tahoma, sans-serif;
font-size: 2.0em;
text-align: center;
}

.sub_header{
font-family: Franklin Gothic, Verdana, Tahoma, sans-serif;
font-size: 1.2em;
text-align: center;
}

.text{
font-family: Franklin Gothic, Verdana, Tahoma, sans-serif;
padding: 0.5em;
}

.card{
 padding: 1em;
 margin: 1.5em auto;
}

}
a:link {
text-decoration: none;
}

a:visited {
color: #7a6363;
text-decoration: none;
}

a:hover {
color: #453d3a;
text-decoration: none;
background-color: #c4c3c2;
}

a:active {
color: #704e40;
background-color: #f0e1d5;
text-decoration: none;
}

a:focus{
color: brown;
text-decoration: none;
}

a:visited:hover {
color:#b0a49e;
text-decoration: none;
}


.arrow1 {
margin-top: 6em;
width: 5%;
float: left;
content: url("../pictures/arrow1.png");
}

.arrow2 {
margin-top: 6em;
width: 5%;
float: right;
content: url("../pictures/arrow2.png");
}

form {
background-color: #f0eae6;
padding: 2em;
margin: 3%;
}

.btn-secondary{
float: right;
}

.btn-primary{
margin-left: 45%;
margin-right: 45%
}

ul {
  list-style-image: url(../pictures/list.png);
}

ol{
list-style: decimal;
}

.flex {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: normal;
   align-content: space-around;
   background-image: url("../pictures/table_bg.png");
}


.card-header{
font-family: Franklin Gothic, Verdana, Tahoma, sans-serif;
font-size:1.5em;
text-align: center;
}

.flex .card-text{
width: 200px;
}

.flex .card-body{
padding: 1em;
font-size: .9em;
}

 .carousel-inner .carousel-item img{
 max-width:40em;
 margin: auto;
 filter: brightness(65%);
 border-radius: 6%;
}

 .carousel-inner .carousel-caption{
 max-width:30em;
 margin: auto;

}
.carousel{
margin: 3em;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
filter: invert(100%);
}

.text-center .card-header{
background: #faf6f2;
}
